<%- include('../_layouts/adminheader') %>

<%- include('../_layouts/adminsidebar') %>

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">

        <div id="breadcrumb"> <a href="/admin/dashboard" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>
                Home</a> <a href="/admin/center" class="tip-bottom" data-original-title="">Courselists</a> <a href="#" class="current">Add
                Edit Center </a> </div>
    </div>
    <!--End-breadcrumbs-->
    <!--Action boxes-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Edit</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="/admin/management/edit-management/<%= id %>" method="POST" class="form-horizontal" enctype="multipart/form-data">
                            <div class="control-group">
                                <label class="control-label">Name</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="name" value="<%= name %>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Role</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="role" value="<%= role %>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Department</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="department" value="<%= department %>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Profile</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="profile" value="<%= profile %>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Profilelink</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="profilelink" value="<%= profilelink %>"> </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Profileimage</label>
                                <div class="controls">
                                    <input type="text" class="span11" name="profileimage" value="<%= profileimage %>"> </div>
                            </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!--end-main-container-part-->
<%- include('../_layouts/adminfooter') %>